<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <description>apache shiro配置</description>

    <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <property name="securityManager" ref="securityManager"/>
        <property name="loginUrl" value="/DININGSYS/page/login"/>
        <property name="successUrl" value="/DININGSYS/index"/>
        <property name="unauthorizedUrl" value="/DININGSYS/page/401"/>
        <property name="filterChainDefinitions">
            <value>
                <!-- 静态资源允许访问 -->
                /app/** = anon
                /assets/** = anon
                <!-- 登录页允许访问 -->
                /DININGSYS/login = anon
                /DININGSYS/topictoword/** = anon
                
                <!-- demo页允许访问-->
                /DININGSYS/demo/** = anon
                /druid/** = anon
                <!-- 前台接口访问 -->
                
                /swagger/** = anon
                /api-docs = anon
                /DININGSYS/api-docs/** = anon
                /DININGSYS/api-docs = anon
                /DININGSYS/swagger/** = anon
                /DININGSYS/yqshapi/** = anon
                <!--已结账单-->
                /DININGSYS/deskBusiness/closedBills/** = anon
                /DININGSYS/deskBusiness/openBills/** = anon

                /DININGSYS/businessDataUpload/** = anon

				<!-- 品项图片资源 -->
				/itemconcat/** = anon
				
				<!-- 广告图片 -->
				/advertpic/** = anon
                <!-- 其他资源需要认证 -->
                /** = authc
            </value>
        </property>
    </bean>

    <!-- 缓存管理器 使用Ehcache实现 -->
    <bean id="shiroEhcacheManager" class="org.apache.shiro.cache.ehcache.EhCacheManager">
        <property name="cacheManagerConfigFile" value="classpath:ehcache-shiro.xml"/>
    </bean>

    <!-- 会话DAO -->
    <bean id="sessionDAO" class="org.apache.shiro.session.mgt.eis.MemorySessionDAO"/>

    <!-- 会话管理器 -->
    <bean id="sessionManager" class="org.apache.shiro.web.session.mgt.DefaultWebSessionManager">
        <property name="sessionDAO" ref="sessionDAO"/>
    </bean>

    <!-- 安全管理器 -->
    <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <property name="realms">
            <list>
                <ref bean="securityRealm"/>
            </list>
        </property>
        <!-- cacheManager,集合spring缓存工厂 -->
        <!-- <property name="cacheManager" ref="shiroEhcacheManager" /> -->
        <!-- <property name="sessionManager" ref="sessionManager" /> -->
    </bean>

    <!-- Shiro生命周期处理器 -->
    <bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor"/>

</beans>