<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yqsh.diningsys.web.dao.deskBusiness.DgGateItemAllowCustomMapper" >
  <resultMap id="BaseResultMap" type="com.yqsh.diningsys.web.model.deskBusiness.DgGateItemAllowCustom" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="small_gate_id" property="smallGateId" jdbcType="INTEGER" />
    <result column="allow_custom" property="allowCustom" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, small_gate_id, allow_custom
  </sql>
  <sql id="Next_Column_List" >
    a.id as id, 
    a.small_gate_id as small_gate_id, 
    a.allow_custom as allow_custom,
    b.name as name
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from dg_gate_item_allow_custom
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from dg_gate_item_allow_custom
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.yqsh.diningsys.web.model.deskBusiness.DgGateItemAllowCustom" >
    insert into dg_gate_item_allow_custom (id, small_gate_id, allow_custom
      )
    values (#{id,jdbcType=INTEGER}, #{smallGateId,jdbcType=INTEGER}, #{allowCustom,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.yqsh.diningsys.web.model.deskBusiness.DgGateItemAllowCustom" >
    insert into dg_gate_item_allow_custom
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="smallGateId != null" >
        small_gate_id,
      </if>
      <if test="allowCustom != null" >
        allow_custom,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="smallGateId != null" >
        #{smallGateId,jdbcType=INTEGER},
      </if>
      <if test="allowCustom != null" >
        #{allowCustom,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yqsh.diningsys.web.model.deskBusiness.DgGateItemAllowCustom" >
    update dg_gate_item_allow_custom
    <set >
      <if test="smallGateId != null" >
        small_gate_id = #{smallGateId,jdbcType=INTEGER},
      </if>
      <if test="allowCustom != null" >
        allow_custom = #{allowCustom,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yqsh.diningsys.web.model.deskBusiness.DgGateItemAllowCustom" >
    update dg_gate_item_allow_custom
    set small_gate_id = #{smallGateId,jdbcType=INTEGER},
      allow_custom = #{allowCustom,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  
   <select id="selectByGateItemId" resultType="java.lang.Integer" parameterType="java.lang.Integer" >
    select 
    count(*)
    from dg_gate_item_allow_custom
    where small_gate_id = #{id,jdbcType=INTEGER}
  </select>
  
  <select id="getAll" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Next_Column_List" />
    from dg_gate_item_allow_custom a left join 
    dg_item_file_type b on a.small_gate_id = b.id
    where 1=1
  </select>
  
    <delete id="deleteByGateItemId" parameterType="java.lang.Integer" >
    delete from dg_gate_item_allow_custom
    where small_gate_id = #{id,jdbcType=INTEGER}
  </delete>
  
     <delete id="deleteByGateId"  parameterType="java.lang.Integer">
    delete from dg_gate_item_allow_custom
    where small_gate_id = #{id,jdbcType=INTEGER}
  </delete>
</mapper>