<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yqsh.diningsys.web.dao.deskBusiness.DgItemTimeLimitMapper" >
  <resultMap id="BaseResultMap" type="com.yqsh.diningsys.web.model.deskBusiness.DgItemTimeLimit" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="item_id" property="itemId" jdbcType="INTEGER" />
    <result column="price" property="price" jdbcType="DOUBLE" />
    <result column="sale_limit" property="saleLimit" jdbcType="DOUBLE" />
    <result column="surplus_limit" property="surplusLimit" jdbcType="DOUBLE" />
    <result column="start_time" property="startTime" jdbcType="VARCHAR" />
    <result column="end_time" property="endTime" jdbcType="VARCHAR" />
    <result column="p_id" property="pId" jdbcType="INTEGER" />
    <result column="num" property="itemCode" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="standard_price" property="bzPrice" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, price,item_id, sale_limit, surplus_limit, start_time, end_time,p_id
  </sql>
  
  <sql id="Next_Column_List">
    a.id as id, 
    a.item_id as item_id, 
    a.sale_limit as sale_limit, 
    a.surplus_limit as surplus_limit,
    a.start_time as start_time,
    a.end_time as end_time,
    a.p_id as p_id,
    a.price as price,
    b.num as num,
    b.name as name,
    b.standard_price as standard_price
  </sql>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from dg_item_time_limit
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from dg_item_time_limit
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.yqsh.diningsys.web.model.deskBusiness.DgItemTimeLimit" >
    insert into dg_item_time_limit (id, item_id, sale_limit, 
      surplus_limit, start_time, end_time,price,p_id
      )
    values (#{id,jdbcType=INTEGER}, #{itemId,jdbcType=INTEGER}, #{saleLimit,jdbcType=DOUBLE}, 
      #{surplusLimit,jdbcType=DOUBLE}, #{startTime,jdbcType=VARCHAR}, #{endTime,jdbcType=VARCHAR},
      #{price,jdbcType=DOUBLE},#{pId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.yqsh.diningsys.web.model.deskBusiness.DgItemTimeLimit" >
    insert into dg_item_time_limit
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="itemId != null" >
        item_id,
      </if>
      <if test="saleLimit != null" >
        sale_limit,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="surplusLimit != null" >
        surplus_limit,
      </if>
      <if test="startTime != null" >
        start_time,
      </if>
      <if test="endTime != null" >
        end_time,
      </if>
      <if test="pId != null" >
        p_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="itemId != null" >
        #{itemId,jdbcType=INTEGER},
      </if>
      <if test="saleLimit != null" >
        #{saleLimit,jdbcType=DOUBLE},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DOUBLE},
      </if>
      <if test="surplusLimit != null" >
        #{surplusLimit,jdbcType=DOUBLE},
      </if>
      <if test="startTime != null" >
        #{startTime,jdbcType=VARCHAR},
      </if>
      <if test="endTime != null" >
        #{endTime,jdbcType=VARCHAR},
      </if>
      <if test="pId != null" >
        #{pId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yqsh.diningsys.web.model.deskBusiness.DgItemTimeLimit" >
    update dg_item_time_limit
    <set >
      <if test="itemId != null" >
        item_id = #{itemId,jdbcType=INTEGER},
      </if>
      <if test="saleLimit != null" >
        sale_limit = #{saleLimit,jdbcType=DOUBLE},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=DOUBLE},
      </if>
      <if test="surplusLimit != null" >
        surplus_limit = #{surplusLimit,jdbcType=DOUBLE},
      </if>
      <if test="startTime != null" >
        start_time = #{startTime,jdbcType=VARCHAR},
      </if>
      <if test="endTime != null" >
        end_time = #{endTime,jdbcType=VARCHAR},
      </if>
      <if test="pId != null" >
        p_id = #{pId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yqsh.diningsys.web.model.deskBusiness.DgItemTimeLimit" >
    update dg_item_time_limit
    set item_id = #{itemId,jdbcType=INTEGER},
      sale_limit = #{saleLimit,jdbcType=DOUBLE},
      price = #{price,jdbcType=DOUBLE},
      surplus_limit = #{surplusLimit,jdbcType=DOUBLE},
      start_time = #{startTime,jdbcType=VARCHAR},
      end_time = #{endTime,jdbcType=VARCHAR},
      p_id = #{pId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  
  <select id="getAllData" resultMap="BaseResultMap"  parameterType="com.yqsh.diningsys.web.model.deskBusiness.DgPromotionItem">
    select 
    <include refid="Next_Column_List" />
    from dg_item_time_limit a left join 
    dg_item_file b on a.item_id = b.id
    <where>
        b.delFlag = '0'
  	    <if test="name != null and name != ''">
        		AND b.name like CONCAT('%',#{name,jdbcType=VARCHAR},'%' )
        </if>
        <if test="itemCode != null and itemCode != ''">
        		AND b.num  like CONCAT('%',#{itemCode,jdbcType=VARCHAR},'%' )
        </if>
     </where>
  </select>
  
  
  <select id="getAllItemId" resultType="java.lang.Integer"  >
    select item_id
    from dg_item_time_limit where 1=1
  </select>
  
  
  <select id="selectItemByAdd" resultType="com.yqsh.diningsys.web.model.archive.DgItemFile" parameterType="list">
     select 
		*
	 from dg_item_file 
	 where delFlag = '0' and id in
    <foreach collection="list" item="id" open="(" close=")" separator=",">
      #{id,jdbcType=INTEGER}
    </foreach>
  </select>
  
  
  <delete id="deleteAll">
    delete from dg_item_time_limit
    where 1=1
  </delete>
  
  
    
  <delete id="deleteNotIn" parameterType="list">
    delete from dg_item_time_limit where item_id not in
    <foreach collection="list" item="id" open="(" close=")" separator=",">
      #{id,jdbcType=INTEGER}
    </foreach>
  </delete>
  
       <!-- 批量删除 -->
   <delete id="deleteIds" parameterType="list">
    delete from dg_item_time_limit where id in
    <foreach collection="list" item="id" open="(" close=")" separator=",">
      #{id,jdbcType=INTEGER}
    </foreach>
  </delete>
  
  <delete id="deleteByItemId"  parameterType="java.lang.Integer">
    delete from dg_item_time_limit
    where item_id = #{id,jdbcType=INTEGER}
  </delete>
  
  
  
    <select id="selectByItemId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from dg_item_time_limit
    where item_id = #{id,jdbcType=INTEGER}
  </select>
  
    <insert id="insertChilds" parameterType="java.util.List" >
    insert into dg_item_time_limit(item_id, sale_limit, 
      surplus_limit, start_time, end_time,price,
      p_id)  values 
    <foreach collection="list" item="item" index="index" separator="," >  
	(#{item.itemId,jdbcType=INTEGER}, #{item.saleLimit,jdbcType=DOUBLE}, 
      #{item.surplusLimit,jdbcType=DOUBLE}, #{item.startTime,jdbcType=VARCHAR}, #{item.endTime,jdbcType=VARCHAR},
      #{item.price,jdbcType=DOUBLE},#{item.pId,jdbcType=INTEGER}
      )
    </foreach>  
    </insert>
    
   <select id="getOne" resultMap="BaseResultMap">
    select    
    <include refid="Base_Column_List" />
    from dg_item_time_limit  order by id limit 1
   </select>
   
   
   <select id="selectByItemIdAndOnTime" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    a.*
    from dg_item_time_limit a 
    left join dg_item_time_limit_p b on a.p_id = b.id
    where item_id = #{ItemId,jdbcType=INTEGER} and 
    <![CDATA[NOW() > b.start_time and NOW() < b.end_time]]> 
   </select>
   
</mapper>