<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yqsh.diningsys.web.dao.deskBusiness.DgRecommendItemMapper">
	<resultMap id="BaseResultMap"
		type="com.yqsh.diningsys.web.model.deskBusiness.DgRecommendItem">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="item_id" property="itemId" jdbcType="INTEGER" />
		<result column="num" property="code" jdbcType="INTEGER" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="tc" property="tc" jdbcType="INTEGER" />
		<result column="price" property="price" jdbcType="DOUBLE" />
		<result column="bigname" property="bigName" jdbcType="DOUBLE" />
		<result column="smallname" property="smallName" jdbcType="DOUBLE" />
	</resultMap>
	<sql id="Base_Column_List">
		id, item_id
	</sql>

	<sql id="Next_Column_List">
		a.id as id,
		a.item_id as item_id,
		b.num as num,
		b.name as name,
		b.is_tc as tc,
		b.standard_price as price,
		c.name as bigname,
		d.name as smallname
	</sql>

	
	<sql id="Item_Column_List">
	    a.id as item_id,
		a.num as num,
		a.name as name,
		a.is_tc as tc,
		a.standard_price as price,
		b.name as bigname,
		c.name as smallname
	</sql>
	
	<select id="selectAll" resultMap="BaseResultMap">
		select
		<include refid="Next_Column_List" />
		from dg_recommend_item a left join dg_item_file b on a.item_id = b.id
		left join dg_item_file_type c on b.ppdl_id = c.id
		left join dg_item_file_type d on b.ppxl_id = d.id
		<where>
			b.delFlag = 0
			<if test="name != null and name != ''">
				AND b.name like CONCAT('%',#{name,jdbcType=VARCHAR},'%' )
			</if>
			<if test="code != null and code != ''">
				AND b.num  like CONCAT('%',#{code,jdbcType=VARCHAR},'%' )
			</if>
		</where>
	</select>

	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from dg_recommend_item
		where id = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from dg_recommend_item
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert"
		parameterType="com.yqsh.diningsys.web.model.deskBusiness.DgRecommendItem">
		insert into dg_recommend_item (id, item_id)
		values (#{id,jdbcType=INTEGER}, #{itemId,jdbcType=INTEGER})
	</insert>
	<insert id="insertSelective"
		parameterType="com.yqsh.diningsys.web.model.deskBusiness.DgRecommendItem">
		insert into dg_recommend_item
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="itemId != null">
				item_id,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="itemId != null">
				#{itemId,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective"
		parameterType="com.yqsh.diningsys.web.model.deskBusiness.DgRecommendItem">
		update dg_recommend_item
		<set>
			<if test="itemId != null">
				item_id = #{itemId,jdbcType=INTEGER},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey"
		parameterType="com.yqsh.diningsys.web.model.deskBusiness.DgRecommendItem">
		update dg_recommend_item
		set item_id = #{itemId,jdbcType=INTEGER}
		where id = #{id,jdbcType=INTEGER}
	</update>
	
	
	<select id="selectItemByAdd" resultMap="BaseResultMap"
		parameterType="list">
		select 
		<include refid="Item_Column_List" /> 
		from dg_item_file a 
		left join dg_item_file_type b on a.ppdl_id=b.id 
		left join dg_item_file_type c on a.ppxl_id=c.id
		where a.id in
		<foreach collection="list" item="id" open="(" close=")"
			separator=",">
			#{id,jdbcType=INTEGER}
		</foreach>
		and a.delFlag = 0
	</select>
	
	<insert id="insertMore" parameterType="java.util.List">
    insert into dg_recommend_item (id, item_id)
    VALUES 
    <foreach collection="list" item="item" index="index" separator="," >
        (#{item.id,jdbcType=INTEGER}, #{item.itemId,jdbcType=INTEGER})
    </foreach>
	</insert>
	
	
	    	<!-- 批量删除 -->
	<delete id="deleteIds" parameterType="list">
		delete from dg_recommend_item where id in
		<foreach collection="list" item="id" open="(" close=")"
			separator=",">
			#{id,jdbcType=INTEGER}
		</foreach>
	</delete>
	
	    	<!-- 批量删除 -->
	<delete id="deleteAll">
		delete from dg_recommend_item where 1=1
	</delete>
	
   <delete id="deleteByItemId"  parameterType="java.lang.Integer">
    delete from dg_recommend_item
    where item_id = #{id,jdbcType=INTEGER}
  </delete>
  <!-- 物理删除所有数据 -->
	<delete id="delPhy">
		DELETE FROM dg_recommend_item 
	</delete>
	<!-- 批量插入 -->
	<insert id="insertBatch" parameterType="java.util.List" >
        insert into dg_recommend_item
        (
		    id,item_id
	    )values
    	<foreach collection="listObj" item="im" index="index" separator=",">
    		(
    			<choose>
    				<when test="im.id!=null">#{im.id},</when>
    				<otherwise>NULL,</otherwise>
    			</choose>
    			<choose>
    				<when test="null!=im.itemId">#{im.itemId}</when>
    				<otherwise>NULL</otherwise>
    			</choose>
    		)
    	</foreach>
  </insert>
</mapper>