<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yqsh.diningsys.web.dao.print.DgPrintManagerSMapper" >
  <resultMap id="BaseResultMap" type="com.yqsh.diningsys.web.model.print.DgPrintManagerS" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="p_id" property="pId" jdbcType="INTEGER" />
    <result column="item_id" property="itemId" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="num" property="num" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, p_id, item_id
  </sql>
  
   <sql id="Next_Column_List" >
    o.id as id, 
    o.p_id as p_id, 
    o.item_id as item_id, 
    t.name as name,
    t.num as num
  </sql>
  
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from dg_print_manager_s
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from dg_print_manager_s
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.yqsh.diningsys.web.model.print.DgPrintManagerS" >
    insert into dg_print_manager_s (id, p_id, item_id
      )
    values (#{id,jdbcType=INTEGER}, #{pId,jdbcType=INTEGER}, #{itemId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.yqsh.diningsys.web.model.print.DgPrintManagerS" >
    insert into dg_print_manager_s
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="pId != null" >
        p_id,
      </if>
      <if test="itemId != null" >
        item_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="pId != null" >
        #{pId,jdbcType=INTEGER},
      </if>
      <if test="itemId != null" >
        #{itemId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yqsh.diningsys.web.model.print.DgPrintManagerS" >
    update dg_print_manager_s
    <set >
      <if test="pId != null" >
        p_id = #{pId,jdbcType=INTEGER},
      </if>
      <if test="itemId != null" >
        item_id = #{itemId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yqsh.diningsys.web.model.print.DgPrintManagerS" >
    update dg_print_manager_s
    set p_id = #{pId,jdbcType=INTEGER},
      item_id = #{itemId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  
     <!-- 批量删除 -->
   <delete id="deleteIds" parameterType="list">
    delete from dg_print_manager_s where p_id in
    <foreach collection="list" item="id" open="(" close=")" separator=",">
      #{id,jdbcType=INTEGER}
    </foreach>
  </delete>
  
   <delete id="deleteByItemId"  parameterType="java.util.Map">
    delete from dg_print_manager_s
    where item_id = #{id,jdbcType=INTEGER}  and p_id in (select id from dg_print_manager where type = #{type,jdbcType=INTEGER})
  </delete>
  
  
  <select id="selectItemByPid" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Next_Column_List" />
    from dg_print_manager_s o left join 
    dg_item_file t on o.item_id = t.id
    where o.p_id = #{id,jdbcType=INTEGER}
  </select>
  
  
    
   <select id="selectItemTypeByPid" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Next_Column_List" />
    from dg_print_manager_s o left join 
    dg_item_file_type t on o.item_id = t.id
    where o.p_id = #{id,jdbcType=INTEGER}
  </select>
  
  
   <insert id="insertChilds" parameterType="java.util.List" >
    insert into dg_print_manager_s (p_id, item_id
      )
    values 
    <foreach collection="list" item="item" index="index" separator="," >  
        (#{item.pId},#{item.itemId})  
    </foreach>  
  </insert>
  
  <select id="selectItemByAdd" resultType="com.yqsh.diningsys.web.model.archive.DgItemFile" parameterType="list">
    select * from dg_item_file  where  id  in
    <foreach collection="list" item="id" open="(" close=")" separator=",">
      #{id,jdbcType=INTEGER}
    </foreach>
  </select>
  
  <select id="selectItemTypeByAdd" resultType="com.yqsh.diningsys.web.model.archive.DgItemFileType" parameterType="list">
    select * from dg_item_file_type  where id  in
    <foreach collection="list" item="id" open="(" close=")" separator=",">
      #{id,jdbcType=INTEGER}
    </foreach>
  </select>
  
  
  <select id="selectPrintManagerByItem" resultType="com.yqsh.diningsys.web.model.print.DgPrintManager" parameterType="Map" >
    select  t.*
	    from dg_print_manager_s o left join 
	    dg_print_manager t on o.p_id = t.id
	    where  o.item_id = #{itemId,jdbcType=INTEGER} and t.disable = 0
	    and t.trash = 0 
	    <if test="type != null">
        	and t.type = #{type,jdbcType=INTEGER}
        </if>
  </select>
</mapper>